body {padding-left:0px; padding-right:0px; padding-bottom:0px; padding-top:0px; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px;} 

.bogieland_header {padding-left:0px; padding-right:0px; padding-bottom:0px; padding-top:0px; margin-left:0px; margin-top:16px; margin-right:0px; margin-bottom:0px;} 

img.bogieland_logo {padding-left:0px; padding-right:0px; padding-bottom:0px; padding-top:0px; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px;}

img.bogieland_byline {display:inline; position:fixed; left:151px; top:16px; padding-left:0px; padding-right:0px; padding-bottom:0px; padding-top:0px; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px;}

img.flag {border:solid green 2px; left:-100px; top:5px; position:relative; padding-left:0px; padding-right:0px; padding-bottom:0px; padding-top:0px; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px;}

p.lang_switch {padding-left:720px; padding-right:0px; padding-bottom:0px; padding-top:0px; margin-left:0px; margin-top:8px; margin-right:0px; margin-bottom:8px;}