/* My test stylesheet*/

html {padding:0em; color:#000033; background:#ff9900; font-size:78%}

body {margin:0em; padding:0em; padding-top:5em; font-family:Verdana, Helvetica, sans-serif}

p { margin:5em; padding:0em; padding-top:5em; font-family:Verdana, Helvetica, sans-serif} 